
{% extends "base.html" %}

{% block title %}Acerca De...{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 mb-4">
        <h2 class="text-center mb-3">👋 Conoce al Desarrollador/a 💻</h2>
        
        <p>

Me apasiona el arte en todas sus formas y expresiones. Disfruto dibujando y explorando diferentes técnicas y estilos para plasmar mi creatividad en papel. Me gustaría aprender un poco de todo, desde pintura hasta escultura, y descubrir nuevas formas de expresarme artísticamente.

La moda también es un área que me interesa mucho. Me gusta estar al tanto de las últimas tendencias y estilos, y disfruto creando mi propio look y experimentando con diferentes estilos.

Los animales raros y exóticos también me fascinan. Me encanta aprender sobre especies únicas y poco comunes, como los que se encuentran en el reino animal. Su belleza y diversidad me inspiran y me motivan a seguir aprendiendo.

En cuanto a mis objetivos a largo plazo, me gustaría tener un trabajo que combine mi pasión por el arte y mi creatividad. Podría ser algo relacionado con el diseño gráfico, la ilustración o incluso la enseñanza del arte. Lo que sea que elija, quiero que me permita expresarme de manera auténtica y hacer algo que me haga sentir realizada.

Además de mi carrera profesional, también me gustaría tener una familia amorosa y unida. Quiero crear un hogar cálido y acogedor donde pueda compartir mis pasiones y valores con mis seres queridos.

Una cosa que me gustaría diseñar y crear yo misma es un espacio de arte y creatividad donde pueda compartir mis habilidades y pasiones con otros. Podría ser un estudio de arte, un taller de manualidades o incluso un espacio de coworking para artistas y creativos. Lo que sea que sea, quiero que sea un lugar donde la creatividad y la inspiración fluyan libremente.

Zamudio García Patricia
        </p>
    </div>
</div>
{% endblock %}
