{% extends "base.html" %}

{% block title %}aniamles exoticos{% endblock %} 
{% block content %}
        <div class="container">
        <h1 class="text-center mt-5 mb-5">Animales Exóticos</h1>
        <p>Los animales exóticos son aquellos que se encuentran en lugares remotos y tienen características únicas que los hacen fascinantes. En esta página, exploraremos algunos de los animales exóticos más interesantes del mundo.</p>
        <div class="row">
            <div class="col-md-12">
                <h2>Acuáticos</h2>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="/static/img/narval.jpeg" class="card-img-top" alt="Narval">
                    <div class="card-body">
                        <h5 class="card-title">Narval</h5>
                        <p class="card-text">El narval es un cetáceo que se encuentra en las aguas árticas. Se caracteriza por su largo cuerno en forma de espiral, que en realidad es un diente que puede crecer hasta 3 metros de largo.</p>
                        <p class="card-text">Hábitat: Aguas árticas</p>
                        <p class="card-text">Dieta: Peces y crustáceos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="/static/img/caballito.jpeg" class="card-img-top" alt="Caballito de mar.">
                    <div class="card-body">
                        <h5 class="card-title">Caballito de mar</h5>
                        <p class="card-text">El caballito de mar es un pez que se encuentra en las aguas cálidas y tropicales. Se caracteriza por su cola prensil y su capacidad para nadar en posición vertical.</p>
                        <p class="card-text">Hábitat: Aguas cálidas y tropicales</p>
                        <p class="card-text">Dieta: Plancton y pequeños crustáceos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Terrestres</h2>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="/static/img/wombat.jpeg" class="card-img-top" alt="Wombat">
                    <div class="card-body">
                        <h5 class="card-title">Wombat</h5>
                        <p class="card-text">El wombat es un marsupial que se encuentra en Australia. Se caracteriza por su cuerpo robusto y su capacidad para cavar madrigueras.</p>
                        <p class="card-text">Hábitat: Bosques y praderas de Australia</p>
                        <p class="card-text">Dieta: Raíces, tubérculos y hierbas</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="/static/img/pandar.jpeg" class="card-img-top" alt="Panda rojo">
                    <div class="card-body">
                        <h5 class="card-title">Panda rojo</h5>
                        <p class="card-text">El panda rojo es un mamífero que se encuentra en las montañas del Himalaya. Se caracteriza por su pelaje rojizo y su dieta herbívora.</p>
                        <p class="card-text">Hábitat: Bosques de montaña del Himalaya</p>
                        <p class="card-text">Dieta: Bambú, frutas y hojas</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Aéreos</h2>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="/static/img/ardillav.jpeg" class="card-img-top" alt="Ardilla voladora">
                    <div class="card-body">
                        <h5 class="card-title">Ardilla voladora</h5>
                        <p class="card-text">La ardilla voladora es un roedor que se encuentra en los bosques de América del Norte. Se caracteriza por su capacidad para planear largas distancias.</p>
                        <p class="card-text">Hábitat: Bosques de América del Norte</p>
                        <p class="card-text">Dieta: Nueces, semillas y frutas</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="/static/img/flamenco.jpeg" class="card-img-top" alt="Flamenco">
                    <div class="card-body">
                        <h5 class="card-title">Flamenco</h5>
                        <p class="card-text">El flamenco es un ave que se encuentra en las lagunas y humedales de todo el mundo. Se caracteriza por su plumaje rosa y su largo cuello.</p>
                        <p class="card-text">Hábitat: Lagunas y humedales</p>
                        <p class="card-text">Dieta: Algas, crustáceos y pequeños invertebrados</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}