{% extends "base.html" %}

{% block titulo %}
Iniciar Sesión
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-lg p-4 bg-light border border-secondary">
            <h2 class="card-title text-center text-secondary mb-4">Iniciar Sesión</h2>
            <p class="text-center text-muted">Ingresa tus credenciales.</p>

            <form id="LoginForm" method="post" action="/login">
                
                <div class="mb-3">
                    <label for="usuario_email" class="form-label text-secondary">Usuario o Correo Electrónico</label>
                    <input type="text" class="form-control" 
                            id="usuario_email" name="usuario_email" 
                            placeholder="Ingresa tu usuario o email" 
                            required>
                </div>

                <div class="mb-4">
                    <label for="contrasena" class="form-label text-secondary">Contraseña</label>
                    <input type="password" class="form-control" 
                            id="contrasena" name="contrasena" 
                            placeholder="Ingresa tu contraseña" 
                            required>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-secondary btn-lg">
                        Entrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}