{% extends "base.html" %}

{% block title %}Las 7 Maravillas del Mundo{% endblock %}

{% block content %}
<div class="row">
<div class="container">
        <h1 class="text-center mt-5 mb-5">Las 7 Maravillas del Mundo</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/static/img/muchu pichu.jpeg" class="card-img-top" alt="Machu Picchu">
                    <div class="card-body">
                        <h5 class="card-title">Machu Picchu</h5>
                        <p class="card-text">Machu Picchu es una ciudad inca ubicada en Perú. Es una de las 7 Maravillas del Mundo y un destino turístico popular.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/static/img/mexico.jpeg" class="card-img-top" alt="Chichén Itzá">
                    <div class="card-body">
                        <h5 class="card-title">Chichén Itzá</h5>
                        <p class="card-text">Chichén Itzá es una ciudad maya ubicada en México. Es una de las 7 Maravillas del Mundo y un destino turístico popular.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/static/img/taj maja.jpeg" class="card-img-top" alt="Taj Mahal">
                    <div class="card-body">
                        <h5 class="card-title">Taj Mahal</h5>
                        <p class="card-text">El Taj Mahal es un mausoleo ubicado en la India. Es una de las 7 Maravillas del Mundo y un destino turístico popular.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/static/img/coliseo.jpeg" class="card-img-top" alt="Coliseo Romano">
                    <div class="card-body">
                        <h5 class="card-title">Coliseo Romano</h5>
                        <p class="card-text">El Coliseo Romano es un anfiteatro ubicado en Roma, Italia. Es una de las 7 Maravillas del Mundo y un destino turístico popular.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/static/img/cristo.jpeg" class="card-img-top" alt="Cristo Redentor">
                    <div class="card-body">
                        <h5 class="card-title">Cristo Redentor</h5>
                        <p class="card-text">El Cristo Redentor es una estatua ubicada en Río de Janeiro, Brasil. Es una de las 7 Maravillas del Mundo y un destino turístico popular.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/static/img/china.jpeg" class="card-img-top" alt="Gran Muralla China">
                    <div class="card-body">
                        <h5 class="card-title">Gran Muralla China</h5>
                        <p class="card-text">La Gran Muralla China es una serie de fortificaciones ubicadas en China. Es una de las 7 Maravillas del Mundo y un destino turístico popular.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="/static/img/petra.jpeg" class="card-img-top" alt="Petra">
                    <div class="card-body">
                        <h5 class="card-title">Petra</h5>
                        <p class="card-text">Petra es una ciudad ubicada en Jordania. Es una de las 7 Maravillas del Mundo y un destino turístico popular.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}